<script lang="ts">
	import Menu from '../lib/components/Menu.svelte';
	import '@fontsource/atkinson-hyperlegible/400.css';
	import './+layout.scss';
</script>

<svelte:head>
	<meta charset="UTF-8" />
	<title>Spinkdistro</title>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</svelte:head>

<Menu />

<slot />
