* {
	font-family: 'Atkinson Hyperlegible', sans-serif;
}

html {
	margin: 0;
	padding: 0;

	min-width: 100%;
	min-height: 100%;

	background: rgb(248 183 255);
	background: linear-gradient(
		180deg,
		rgb(243, 131, 255) 0%,
		rgb(248 183 255) 20rem,
		rgb(251 215 255) 100%
	);
}

body {
	margin: 0;
	padding: 1rem;
	margin-bottom: 200px;
}

p {
	font-size: 14pt;
	margin-top:    8px;
	margin-bottom: 8px;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.3em;
}

a:visited {
	color: black;
}

a {
	color: black;
}

button,
input[type='submit'],
input[type='reset'] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	font-size: inherit;
}

.spinkbutton {
	color: black;
	text-decoration: underline;
}

.selected {
	color: black;

	text-decoration-style: wavy;
}

.flex-row {
	display: inline-flex;
	flex-direction: row;
}

.flex-col {
	display: inline-flex;
	flex-direction: column;
}

.h2-container {
	flex-wrap: wrap;
	justify-content: right;
}

.h2-container h2 {
	white-space: nowrap;
}

.menubar {
	align-items: baseline;
	width: 80%;
	margin-top: 10px;
	padding-left: 10%;
	padding-right: 10%;

	h1 {
		margin-right: auto;
	}

	h2 {
		margin-left: 0.25em;
		margin-right: 0.25em;
	}
}

.menubar a::after {
	content: '';
}

.spinklogo {
	height: 9em;
	margin-right: 10px;
}

.bannerimg {
	align-self: center;
}

.bannerimg::after {
	content: '';
}

.menu-smallitem {
	justify-self: right;
}

.topbar {
	align-items: center;
	justify-content: center;
	width: 100%;
}

.middlebar {
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}

.tile {
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
}

.tile-container {
	display: inline-flex;
	flex-direction: row;
}

.innerspan {
	margin: 4px;
}

.ZineItem {
	width: 80%;
	display: inline-flex;
	margin-top: 10px;
	margin-bottom: 10px;
}

.ZineSubitem {
	margin: auto;

	a::after {
		color: black;
		content: '';
	}
}

.ZineName {
	width: 25%;
}

.ZineSubName {
	font-size: 1.8em;
	font-weight: bold;
}

.ZineAuthor {
	font-size: 1.3em;
}

.ZineThumbnailimg {
	height: 10em;
	display: block;
}

.ZinePerex {
	width: 50%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	/* max-height: calc(10em - 1em); */
	/* Set the initial maximum height */
	overflow: hidden;
	box-sizing: border-box;
	/* Hide any overflow beyond the maximum height */
	/*cursor: pointer;*/

	&.expand {
		max-height: none;
		/* Remove the maximum height when expanded */
	}

	p {
		margin-top: 0px;

		span {
			font-size: 1.5em;
			float: right;
		}
	}
}

.ZineIcons {
	font-size: 2em;
	text-decoration: none;
	text-align: center;
}

.ZineIcons a {
	color: black;
}

.ZineIcons a::after {
	content: '';
}

.imglink {
	text-decoration: none;

	&::after {
		content: '';
	}
}

.cardimage {
	height: 10em;
}

.cardname {
	margin-bottom: 0.25em;
}

.cardauthor {
	margin-top: 0.25em;
}

.cardicons {
	align-self: center;
	font-size: 2.5em;
	text-decoration: none;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

.cardicons a:after {
	content: '';
}

.cardversion {
	align-self: center;
	margin-top: 0.25em;
	padding: 0 0.75em;
}

@media only screen and (max-width: 1100px) {
	.ZinePerex {
		display: none;
	}

	.bottommenubar .h2-container {
		margin-left: auto;
		margin-right: auto;
	}

	.bottommenubar {
		margin-top: 0px;
	}

	.bottommenubar .h2-container h2 {
		margin-top: 0px;
	}
}

@media only screen and (max-width: 700px) {
	.menubar {
		h1 {
			display: none;
		}
	}

	.bottommenubar .h2-container h2 {
		font-size: 1.5em;
	}

	.bannerimg {
		margin-right: auto;
	}

	.middlebar {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.tile-container {
		flex-direction: column;
	}

	.tile {
		width: auto;
	}

	.ZinePerex {
		display: none;
	}

	.ZineSubName {
		font-size: 1.6em;
	}

	.ZineAuthor {
		font-size: 1.2em;
	}

	.ZineItem {
		width: 90%;
	}

	.ZineLinks {
		display: none;
	}

	.ZineSubitem {
		margin: 0;
	}

	.ZineName {
		width: auto;
		text-align: right;
		align-self: flex-end;
		margin-top: auto;
		margin-bottom: auto;
	}

	.ZineThumbnail {
		align-self: flex-start;
		margin-right: auto;
		margin-top: auto;
		margin-bottom: auto;
	}
}
