<script lang="ts">
	import Zines from '$lib/components/Zines.svelte';
	import { Locale } from '$lib/types';
	import type { PageData } from './$types';
	import Fa from 'svelte-fa';
	import { faGitlab, faMastodon, faInstagram } from '@fortawesome/free-brands-svg-icons';
	import { faEnvelope } from '@fortawesome/free-solid-svg-icons';
	import { fediRegular } from '$lib/icons/fedi';
	import ExternalLink from '$lib/components/ExternalLink.svelte';

	export let data: PageData;
	$: cs = data.locale == Locale.Czech;
	$: en = data.locale == Locale.English;
</script>

<svelte:head>
	{#if cs}
		<meta name="description" content="anarchafeminismus, zíny, spánek" />
		<meta name="keywords" content="anarchafeminismus, zíny, spánek, spink" />

		<meta property="og:title" content="Spinkdistro" />
		<meta property="og:description" content="anarchafeminismus, zíny, spánek" />
		<meta property="og:image" content="https://spinkdistro.art/logo.png" />
	{:else}
		<meta name="description" content="anarchafeminism, zines, sleep" />
		<meta name="keywords" content="anarchafeminism, zines, sleep, spink" />

		<meta property="og:title" content="Spinkdistro" />
		<meta property="og:description" content="anarchafeminism, zines, sleep" />
		<meta property="og:image" content="https://spinkdistro.art/logo.png" />
	{/if}
</svelte:head>

<div class="flex-col middlebar topbar">
	<div class="tile-container topbar">
		<div class="tile">
			{#if cs}
				<h3 id="about">O co jde?</h3>

				<p>
					Chceme se bavit o&nbsp;radikálních tématech jako anarchismus, feminismus
					a&nbsp;biocentrimus, protože v&nbsp;mainstreamové debatě chybí. Proto píšeme
					a&nbsp;překládáme zíny.
				</p>

				<p>
					Radikální teorie by neměla být profesionalizovaná: kdokoliv chce, ať si vytvoří svoji
					teorii pro své konkrétní okolnosti!
				</p>

				<p>
					Všechny naše zíny najdeš na našem <ExternalLink
						href="https://gitlab.com/spinkdistro/Zines"
					>
						GitLabu <Fa icon={faGitlab} />
					</ExternalLink>. Jsou free-and-open-source, takže je můžeš editovat a&nbsp;reprodukovat
					jak je ti jen libo.
				</p>
			{:else if en}
				<h3 id="about">What is this about?</h3>

				<p>
					We want to talk about radical topics like anarchism, feminism and biocentrism, because
					these topics aren't represented in the mainstream discourse. That's why we write and
					translate zines.
				</p>

				<p>
					Radical theory should not be professionalized: whoever wants to should be able to create
					their own radical theory for their particular circumstances!
				</p>

				<p>
					You can find all of our zines on our <ExternalLink
						href="https://gitlab.com/spinkdistro/Zines"
					>
						GitLab <Fa icon={faGitlab} />
					</ExternalLink>. They are free and open-source, so that you can edit and reproduce them as
					you please.
				</p>
			{/if}
		</div>

		<div class="tile">
			{#if cs}
				<h3>Spink</h3>
				<p>Spánek, šlofíček, dvacijášek... :3</p>

				<h3>Distro</h3>
				<p>Rozdáváme (distribuujeme) lidem zíny a nechceme za to peníze.</p>

				<h3>Kontakt</h3>
				<div class="contact-links">
					<p>
						<span><Fa icon={faEnvelope} /></span>
						<span>E-mail: spinkdistro@email.cz</span>
					</p>
					<p>
						<span><Fa icon={faInstagram} /></span>
						<span
							>Instagram: <ExternalLink href="https://www.instagram.com/spinkdistro/">
								@spinkdistro
							</ExternalLink></span
						>
					</p>
					<p>
						<span><Fa icon={fediRegular} /><Fa icon={faMastodon} /></span>
						<span>
							Fedimír: <ExternalLink rel="me" href="https://todon.eu/@spinkdistro">
								@spinkdistro@todon.eu
							</ExternalLink>
						</span>
					</p>
				</div>
			{:else}
				<h3>What is a “spink”</h3>
				<p>A short nap, a snoozlet, a slumbertwinkle... :3</p>

				<h3>Distro</h3>
				<p>We give out (distribute) zines to people and don't want money for it.</p>

				<h3>Contact us</h3>
				<div class="contact-links">
					<p>
						<span><Fa icon={faEnvelope} /></span> <span>E-mail: spinkdistro@email.cz</span>
					</p>
					<p>
						<span>
							<Fa icon={faInstagram} />
						</span>
						<span>
							Instagram:
							<ExternalLink href="https://www.instagram.com/spinkdistro/">
								@spinkdistro
							</ExternalLink>
						</span>
					</p>
					<p>
						<span>
							<Fa icon={fediRegular} /><Fa icon={faMastodon} />
						</span>
						<span>
							Fediverse: <ExternalLink rel="me" href="https://todon.eu/@spinkdistro">
								@spinkdistro@todon.eu
							</ExternalLink>
						</span>
					</p>
				</div>
			{/if}
		</div>
	</div>

	<div class="topbar flex-row">
		{#if cs}
			<h2 id="zines">Naše zíny</h2>
		{:else}
			<h2 id="zines">Our zines</h2>
		{/if}
	</div>

	{#if cs}
		<p>
			Verze začínající 0 znamená, že zín nepovažujeme za dokončený, může obsahovat chyby.
			<br />
			Zíny přeložené do jiných jazyků jsou samostatné projekty. Ne všechny zíny jsou dostupné ve všech
			jazycích.
		</p>
	{:else}
		<p>
			Version number beginning with 0 means that we don't consider the zine finished, it may contain
			errors.
			<br />
			Zines translated into other languages are standalone projects. Not all zines are available in all
			languages.
			<br />
			<strong
				>Most of our zines are only available in Czech! Please <a href="/?hl=cs#zines"
					>switch to Czech</a
				> to see them.</strong
			>
		</p>
	{/if}
</div>

<Zines collaboration={false} />

{#if cs}
	<div class="flex-col middlebar topbar">
		<div class="topbar flex-row">
			{#if cs}
				<h2>Naše spolupráce</h2>
			{:else}
				<h2>Our collaborations</h2>
			{/if}
		</div>

		{#if cs}
			<p>Zíny vytvořené jinými kolektivy, na jejichž tvorbě či distribuci jsme spolupracovalx.</p>
		{:else}
			<p>Zines created by other collectives, but with some amount of help from us.</p>
		{/if}
	</div>

	<Zines collaboration={true} />
{/if}

<style lang="scss">
	.contact-links {
		display: grid;
		grid-auto-flow: row;
		grid-template-columns: max-content 1fr;

		p {
			display: contents;

			span:first-child {
				display: flex;
				justify-content: center;
				gap: 2px;
				margin-right: 5px;
			}
		}
	}
</style>
