<script lang="ts">
	import ExternalLink from '$lib/components/ExternalLink.svelte';
	import { Locale } from '$lib/types';
	import type { PageData } from './$types';

	export let data: PageData;
	$: cs = data.locale == Locale.Czech;
	$: en = data.locale == Locale.English;
</script>

<div class="flex-col middlebar topbar">
	<div class="topbar flex-row">
		{#if cs}
			<h2>Spinku</h2>
		{:else if en}
			<h2>Of spink</h2>
		{/if}
	</div>
</div>

<div class="flex-col middlebar">
	{#if cs}
		<p>
			<ExternalLink href="https://jindrx.space">jindrx.space</ExternalLink>
			<br />
			<ExternalLink href="https://csha.io">csha.io</ExternalLink>
		</p>
	{:else if en}
		<p>
			<ExternalLink href="https://jindrx.space">jindrx.space</ExternalLink>
			<br />
			<ExternalLink href="https://csha.io">csha.io</ExternalLink>
		</p>
	{/if}
</div>

<div class="flex-col middlebar topbar">
	<div class="topbar flex-row">
		<div style="text-align: center">
		{#if cs}
			<h2>Jiná distra</h2>
			<p>projekty, které máme rádx</p>
		{:else if en}
			<h2>Other distros</h2>
			<p>projects we like</p>
		{/if}
	</div>
	</div>
</div>

<div class="flex-col middlebar">
	{#if cs}
		<p>
			<ExternalLink href="http://saledistro.org/">saledistro.org</ExternalLink> (cz)
			<br />
			<ExternalLink href="https://linktr.ee/dekonstrukce">linktr.ee/dekonstrukce</ExternalLink> (cz)
			<br />
			<ExternalLink href="https://seminko.art/">seminko.art/</ExternalLink> (cz)
			<br />
			<ExternalLink href="https://veveverisko.sk/">veveverisko.sk/</ExternalLink> (sk)
			<br />
			<ExternalLink href="https://www.sproutdistro.com/">sproutdistro.com</ExternalLink> (en)
		</p>
	{:else if en}
		<p>
			<ExternalLink href="http://saledistro.org/">saledistro.org</ExternalLink> (cz)
			<br />
			<ExternalLink href="https://linktr.ee/dekonstrukce">linktr.ee/dekonstrukce</ExternalLink> (cz)
			<br />
			<ExternalLink href="https://seminko.art/">seminko.art/</ExternalLink> (cz)
			<br />
			<ExternalLink href="https://veveverisko.sk/">veveverisko.sk/</ExternalLink> (sk)
			<br />
			<ExternalLink href="https://www.sproutdistro.com/">sproutdistro.com</ExternalLink> (en)
		</p>
	{/if}
</div>
