<script lang="ts">
	import { Locale } from '$lib/types';
	import type { PageData } from './$types';
	import ExternalLink from '$lib/components/ExternalLink.svelte';
	import InlineCode from '$lib/components/InlineCode.svelte';
	import Fa from 'svelte-fa';
	import { faWindows, faLinux, faApple } from '@fortawesome/free-brands-svg-icons';

	export let data: PageData;
	$: cs = data.locale == Locale.Czech;
	$: en = data.locale == Locale.English;
</script>

<div class="flex-col middlebar topbar">
	<div class="topbar flex-row">
		{#if cs}
			<h2>Formáty zínů</h2>
		{:else if en}
			<h2>Print</h2>
		{/if}
	</div>
</div>

<div class="flex-col middlebar">
	{#if cs}
		<p>
			Zíny dodáváme v&nbsp;různých formátech stránky (A6, A5, A4) a ve dvou verzích: verzi pro čtení
			a verzi pro tisk. Verze pro čtení obsahuje jednu stránku za druhou, což se hodí ke čtení na
			mobilech, počítačích a čtečkách e-knih. Ve verzi pro tisk je potom několik stran je spojených
			dohromady tak, aby se z toho dala lehce vytisknout brožurka.
		</p>

		<p>
			Př.: <em>„A5 pro čtení“</em> obsahuje stránky A5.
			<br />
			Př.: <em>„A5 brožurka pro tisk na A4“</em> je soubor, který se má vytisknout na papír A4, přeložit
			a sešít, a vznikne z něj brožura o formátu A5.
		</p>

		<p>Naše zíny jsou černobílé, protože pak je tisk jednodušší a levnější.</p>

		<h3>Formáty papíru série A</h3>

		<p>
			Do této série se počítají formáty jako A3, A4, A5,... Mají tu milou vlastnost, že když vedle
			sebe přiložíme dva papíry A4 delší stranou, dají dohromady papír formátu A3. Naopak, pokud
			papír A4 přehneme napůl po delší straně, vznikne formát A5. Podobná pravidla platí pro všechny
			papíry série&nbsp;A.
		</p>

		<p>
			Díky tomu se s papíry série A dobře pracuje, jak fyzicky, tak v počítači. Při škálování
			(zvětšování a zmenšování) papírů je ale třeba mít na paměti jeden mírně neintuitivní chyták:
			papír o velikosti A5 je sice polovina papíru A4, jde ale o poloviční <em>obsah</em>. Pokud
			chci v počítači zmenšit papír A4 na velikost A5, potřebuji zadat, o kolik se má zmenšit
			<em>délka strany</em>, což vychází na <strong>70,71&nbsp;%</strong> (odmocnina z jedné
			poloviny). Naopak, pokud chci papír zvětšit, obsah se sice zdvojnásobí, ale délka strany se
			zvětší o pouhých <strong>141,4&nbsp;%</strong> (odmocnina ze dvou).
		</p>

		<p>
			Při škálování papírů je potřeba pohlídat si, že výsledek nemá příliš malé písmo. Proto naše
			zíny publikujeme v několika variantách – ačkoliv čtenářstvu věříme, že by dokázalo zmenšit
			PDFko, mohlo by po tisku zjistit, že tak malé blechy nikdo nepřečte.
		</p>
		<p>
			(Některé fonty jsou navíc optimalizované pro čitelnost při různých velikostech textu – tj.
			mají různé <a href="https://typenetwork.com/articles/inside-the-fonts-optical-sizes"
				>optické velikosti</a
			> – kvůli čemuž po škálování nevypadají tak dobře, jak jejich autorstvo zamýšlelo.)
		</p>

		<p>
			Papíry o formátu A jsou rozšířené po celém světě, v praxi můžete ale narazit i na zíny o
			jiných rozměrech. Například v Severní Americe je rozšířený formát <em>letter</em>, který má
			podobné rozměry jako formát A4, ale nemá ty samé vlastnosti s přehýbáním a skládáním jako A4.
			Proto je vhodné před tiskem soubor upravit (tuhle oříznout, támhle přidat okraje, trochu
			naškálovat) tak, ať se dobře tiskne na A4.
		</p>
	{:else if en}
		<p>
			On the page with zines you will find two pdf files corresponding to each zine: a pdf for
			reading (simple pdf) and a pdf for printing (brochure). The pdf for reading contains one page
			after another, which is suitable for reading on your phone and computer. The pdf for printing
			contains pages put together so that it's easily printable as a brochure.
		</p>

		<p>
			The brochure format we supply is to be printed <strong>on both sides of paper</strong>,
			flipped on <strong>short edge</strong>.
		</p>
	{/if}
</div>

<div class="flex-col middlebar topbar">
	<div class="topbar flex-row">
		{#if cs}
			<h2>Tisk a výroba zínů</h2>
		{/if}
	</div>
</div>

<div class="flex-col middlebar">
	{#if cs}
		<p>
			Pro tento návod předpokládáme, že máš vlastní <strong>tiskárnu</strong>, která umí tisknout
			černobíle a&nbsp;oboustranně. Alternativně můžeš tisknout ve&nbsp;škole, v&nbsp;práci, kavárně
			nebo v&nbsp;kopycentru.
		</p>

		<p>My máme kladné zkušenosti s laserovými tiskárnami značky Brother.</p>

		<h3>A5 brožurka pro tisk na A4</h3>
		<p>
			Potřebuješ: dlouhoramennou sešívačku nebo jehlu a nit (s tím je víc práce), řezačku
			(volitelné)
		</p>
		<p>
			Vytiskni soubor <strong>oboustranně</strong> s&nbsp;<strong
				>převrácením na kratším okraji</strong
			>. Nejprve vždy vytiskni pouze jednu kopii zínu. Tiskárna papíry vydá již správně seřazené
			(ale raději zkontroluj). Pak je třeba papíry přehnout v půli. Chceš-li vytisknout více kopií
			zínu najednou, zkontroluj, že máš při tisku zaškrtnutou možnost <strong>kompletovat</strong>
			(angl. <em>collate</em>).
		</p>
		<p>
			Následně je můžeš sešít, aby držely u sebe: k tomu lze použít sešívačka nebo jehla a nit.
			Sešívačku přikládej <em>z vnější strany</em> zínu, aby ostré konce svorky byly
			<em>uvnitř</em>.
		</p>
		<p>
			Poslední krok je řezání. Tiskárny totiž většinou nedokážou potisknout celou stránku a
			vynechají bílé místo na okrajích stránky. Toto bílé místo jde prostě uříznout a pak je zín
			hned hezčí.
		</p>

		<h3>A6 brožurka pro tisk na A4</h3>
		<p>Potřebuješ: dlouhoramennou sešívačku nebo jehlu a nit (s tím je víc práce), řezačku</p>
		<p>
			Vytiskni soubor <strong>oboustranně</strong> s&nbsp;<strong
				>převrácením na kratším okraji</strong
			>. Potom každou stránku řezačkou rozřízni na dvě poloviny (stránku polož naležato a řež
			odshora dolů).
		</p>
	{/if}
</div>

<div class="flex-col middlebar topbar">
	{#if cs}
		<div class="topbar flex-row">
			<h2>PDF manipulace</h2>
		</div>
	{/if}
</div>

<div class="flex-col middlebar">
	{#if cs}
		<p>
			Doporučujeme používat program <ExternalLink
				href="https://github.com/pdfarranger/pdfarranger/?tab=readme-ov-file#readme"
				>PDF arranger</ExternalLink
			>.
		</p>
		<ul>
			<li>
				<Fa icon={faWindows} /> K instalaci na Windows je potřeba stáhnout soubor s příponou .msi na
				<ExternalLink href="https://github.com/pdfarranger/pdfarranger/releases/latest"
					>GitHubu</ExternalLink
				>, spustit jej a pak následovat pokyny.
			</li>
			<li>
				<Fa icon={faLinux} /> K instalaci na Linuxu doporučujeme použít balíčkový formát Flatpak. PDF
				arranger naleznete na
				<ExternalLink href="https://flathub.org/apps/com.github.jeromerobert.pdfarranger"
					>FlatHubu</ExternalLink
				>
				a nainstalujete pomocí
				<InlineCode ToCopy="flatpak install pdfarranger">flatpak install pdfarranger</InlineCode>.
				Také je možná instalace přes správce balíčků tvé distribuce (apt, pacman, dnf,...).
			</li>
			<li>
				<Fa icon={faApple} /> PDF arranger bohužel zatím není distribuovaný na MacOS (OS X).
			</li>
		</ul>

		<h3>Vytváření brožurek</h3>

		<p>
			Pomocí ctrl-O otevři soubor, který ze kterého chceš udělat brožurku. Pomocí ctrl-A vyber
			všechny stránky v souboru: na nich se bude dělat následující operace. Pravým tlačítkem myši
			klikni na některou stránku a poté vyber z menu <em>Generate Booklet</em>. Následně pomocí
			ctrl-shift-S ulož vzniklou brožurku.
		</p>
	{/if}
</div>
