<script lang="ts">
	import { error } from '@sveltejs/kit';
	import { Locale, type LocalizedString, type Zines } from '$lib/types';
	import type { PageData } from './$types';
	import { zines, t } from '$lib/content/zines';
	import { page } from '$app/stores';
	import Fa from 'svelte-fa/src/fa.svelte';
	import { faBookOpen, faNewspaper, faDownload } from '@fortawesome/free-solid-svg-icons';
	import BackButton from '$lib/components/BackButton.svelte';

	import CopyLink from '$lib/components/CopyLink.svelte';

	export let data: PageData;
	$: locale = $page.data.locale as Locale;
	$: cs = data.locale == Locale.Czech;
	$: en = data.locale == Locale.English;

	function insertLineBreaks(str: string) {
		return str.replace(/\n/g, '<br>');
	}

	const zin = data.slug ?? 'error';

	let LocalizedZines: Zines = zines.cs;

	//let currzine = LocalizedZines.bio; //Default zine
	$: if (cs) {
		LocalizedZines = zines.cs;
	} else if (en) {
		LocalizedZines = zines.en;
	} else {
		LocalizedZines = zines.cs;
	}

	let currzine = zines.cs.bio; //Default zine

	let isZineFound = true;

	function setCurrZine() {
		console.log(LocalizedZines[zin]);
		try {
			if (LocalizedZines[zin] == null) {
				throw error(404, 'Zine not found');
			}
		} catch (err) {
			console.log('we erred');
			return false;
		}

		return true;
	}

	$: {
		currzine = LocalizedZines[zin];
		isZineFound = setCurrZine();
	}

	const downloadtxt: LocalizedString = { cs: 'Sdílej a stahuj', en: 'Share and download' };

	$: localize = (s: string | LocalizedString): string => (typeof s === 'string' ? s : s[locale]);
</script>

<svelte:head>
	{#if isZineFound}
		<meta name="description" content={currzine.summary} />

		<meta property="og:title" content={currzine.author + ', ' + currzine.name} />
		<meta property="og:description" content={currzine.summary} />
		<meta property="og:image" content={currzine.thumbnail} />
	{/if}
</svelte:head>

{#if isZineFound}
	<BackButton />
	<br />

	<div class="flex-col middlebar topbar">
		<div class="ZineSubitem">
			<img class="bigthumbnail" src={currzine.thumbnailLarge} alt={currzine.thumbnailAlt} />
		</div>
	</div>

	<div class="flex-col middlebar topbar">
		<div class="topbar flex-column">
			<h3 class="cardname">{@html currzine.name}</h3>

			<h4 class="cardauthor">{@html currzine.author}</h4>
		</div>
	</div>

	<div class="flex-col middlebar">
		<p>
			{@html insertLineBreaks(currzine.summary)}
		</p>
	</div>

	<div class="flex-col middlebar">
		<h3 class="cardname">{localize(downloadtxt)}</h3>

		<p class="cardversion">
			<CopyLink />
			<br />
			<br />
			{#each currzine.downloads as item}
				<a href={item.link}><Fa icon={faDownload} /> {item.name}</a>
				<br />
			{/each}
		</p>

		<p class="cardversion">
			{#if cs}
				verze
			{:else}
				version
			{/if}
			{currzine.version}
		</p>
	</div>

	<br />

	<br />

	<BackButton />
{:else}
	<h1 class="error">Error 404, Zine not found</h1>

	<br />

	<BackButton />
{/if}

<style>
	.error {
		text-align: center;
	}

	.linkcontainer {
		display: flex;
		align-items: center;
	}

	.bigthumbnail {
		width: 300px;
	}
</style>
