<script lang="ts">
	import { Locale, type LocalizedString } from '../types';
	import { page } from '$app/stores';
	import { onMount } from 'svelte';

	$: locale = $page.data.locale as Locale;
	$: cs = locale === Locale.Czech;
	$: en = locale === Locale.English;



	function goBack() {
		window.history.back();
	}

	let showButton = false;

	onMount(() => {
		showButton = window.history.length > 2;
	});

	const backtext: string | LocalizedString = {
		cs: 'zpět',
		en: 'back'
	};

	$: localize = (s: string | LocalizedString): string => (typeof s === 'string' ? s : s[locale]);
</script>

<div class="backdiv">
	{#if showButton}
		<button class="spinkbutton" on:click={goBack}> {localize(backtext)} </button>
	{/if}
</div>

<style>
	.backdiv {
		text-align: center;
	}

	.backdiv button {
		font-size: 1.3em;
	}

	.backdiv button::after {
		color: black;
		word-break: break-all;
		content: ' ↩';
	}
</style>
