<script lang="ts">
	import { Locale, type LocalizedString } from '../types';
	import Fa from 'svelte-fa/src/fa.svelte';
	import { faLink } from '@fortawesome/free-solid-svg-icons';
	import { page } from '$app/stores';

	$: locale = $page.data.locale as Locale;
	$: cs = locale === Locale.Czech;
	$: en = locale === Locale.English;

	const btn1: LocalizedString = {
		cs: 'Zkopíruj odkaz.',
		en: 'Copy link.'
	};

	const btn2: LocalizedString = {
		cs: 'Odkaz zkopírován!',
		en: 'Link copied!'
	};

	$: localize = (s: string | LocalizedString): string => (typeof s === 'string' ? s : s[locale]);

	$: buttonText = localize(btn1);

	export let url: string | undefined = undefined;
	if (url === undefined) {
		url = $page.url.href;
	}

	function copyLink() {
		navigator.clipboard
			.writeText(url!)
			.then(() => {
				buttonText = localize(btn2);
				setTimeout(() => {
					buttonText = localize(btn1);
				}, 2000);
			})
			.catch((error) => {
				console.error('Failed to copy link:', error);
			});
	}
</script>

<button class="spinkbutton" on:click={copyLink}>
	<Fa icon={faLink} />
	{buttonText}
</button>
