<script lang="ts">
	import { faCopy, faCheck } from '@fortawesome/free-solid-svg-icons';
	import { Locale, type LocalizedString } from '../types';
	import { page } from '$app/stores';
    import Fa from 'svelte-fa';
	export let ToCopy: string;

	//TODO code duplicated here into CopyLink
	$: locale = $page.data.locale as Locale;
	$: cs = locale === Locale.Czech;
	$: en = locale === Locale.English;

	const btn1: LocalizedString = {
		cs: 'Zkopíruj text.',
		en: 'Copy text.'
	};

	const btn2: LocalizedString = {
		cs: 'Text zkopírován!',
		en: 'Text copied!'
	};

	$: localize = (s: string | LocalizedString): string => (typeof s === 'string' ? s : s[locale]);

	$: tooltip = localize(btn1);

	let copied: boolean = false;

	function copyLink() {
		navigator.clipboard
			.writeText(ToCopy)
			.then(() => {
				tooltip = localize(btn2);
				copied = true;
				setTimeout(() => {
					tooltip = localize(btn1);
					copied = false;
				}, 2000);
			})
			.catch((error) => {
				console.error('Failed to copy link:', error);
			});
	}
</script>

<button on:click={copyLink} title={tooltip}>
	<span class="code">
		<slot />
	</span>
	{#if !copied}
		<Fa icon={faCopy} />
	{:else}
		<Fa icon={faCheck} />
	{/if}
</button>

<style>
	.code {
		font-family: 'Fira Code Variable', monospace;
	}
</style>