<script lang="ts">
	import { Locale } from '../types';
	import { routes } from '$lib/content/routes';
	import { page } from '$app/stores';
	$: r = $page.route.id;


	$: locale = $page.data.locale as Locale;
	$: cs = locale === Locale.Czech;
	$: en = locale === Locale.English;


	// Update the screenWidth when the window is resized
	let screenSize: number;
</script>

<svelte:window bind:innerWidth={screenSize} />

{#if screenSize < 1100}

	<div class="menubar flex-row">
		<a class="bannerimg menuitem" href="/?hl={locale}" title="hlavní stránka">
			<img
				class="spinklogo"
				alt="spící kočka, okolo ní kruhový nápis SPINKDISTRO"
				src="/logo.svg"
			/>
		</a>

		<h1 class="menuitem">
			<a class="imglink" href="/?hl={locale}" title="hlavní stránka"> Spinkdistro </a>
		</h1>

		<div class="flex-row h2-container">
			<h2 class="menuitem">
				<a class="{cs ? 'selected' : ''}" href="?hl=cs">cz</a>
			</h2>

			<h2 class="menuitem">
				<a class="{en ? 'selected' : ''}" href="?hl=en">en</a>
			</h2>
		</div>
	</div>

	<div class="menubar flex-row bottommenubar">
		<div class="flex-row h2-container">
			{#each Object.entries(routes) as [route, title]}
				<h2 class="menuitem">
					<a  class="{r == route ? 'selected' : ''}"   href="{route}?hl={locale}">{title[locale]}</a>
				</h2>
			{/each}
		</div>
	</div>

{:else}

	<div class="menubar flex-row">
		<a class="bannerimg menuitem" href="/?hl={locale}" title="hlavní stránka">
			<img
				class="spinklogo"
				alt="spící kočka, okolo ní kruhový nápis SPINKDISTRO"
				src="/logo.svg"
			/>
		</a>

		<h1 class="menuitem">
			<a class="imglink" href="/?hl={locale}" title="hlavní stránka"> Spinkdistro </a>
		</h1>

		<div class="flex-row h2-container">
			{#each Object.entries(routes) as [route, title]}
				<h2 class="menuitem">
					<a class="{r == route ? 'selected' : ''}" href="{route}?hl={locale}">{title[locale]}</a>
				</h2>
			{/each}

			<h2 class="menuitem">
				<a class="{cs ? 'selected' : ''}" href="?hl=cs">cz</a>
			</h2>

			<h2 class="menuitem">
				<a class="{en ? 'selected' : ''}" href="?hl=en">en</a>
			</h2>
		</div>
	</div>

{/if}
