<script lang="ts">
	import { Locale, type LocalizedString, type Zines } from '$lib/types';
	import { zines } from '$lib/content/zines';
	import CopyLink from '$lib/components/CopyLink.svelte';
	import { page } from '$app/stores';
	import Fa from 'svelte-fa';
	import { faPlus, faDownload, faBook } from '@fortawesome/free-solid-svg-icons';
	import { arrow, createFloatingActions } from 'svelte-floating-ui';
	import { offset, flip, shift } from 'svelte-floating-ui/dom';
	import { arrayStoreProxy, clickOutside, writable } from '$lib/utils';

	export let collaboration: boolean;

	let urlbase: string = $page.url.href.replace(/\?.*$/, '');

	$: locale = $page.data.locale as Locale;
	$: cs = locale === Locale.Czech;
	$: en = locale === Locale.English;

	let LocalizedZines: Zines = zines.cs;
	$: if (cs) {
		LocalizedZines = zines.cs;
	} else if (en) {
		LocalizedZines = zines.en;
	} else {
		LocalizedZines = zines.en;
	}

	const floating = Object.entries(LocalizedZines).map((_, i) => {
		const arrowRef = writable<HTMLElement>();
		const [ref, content] = createFloatingActions({
			strategy: 'absolute',
			placement: 'left',
			middleware: [offset(15), flip(), shift(), arrow({ element: arrowRef })],

			onComputed({ placement, middlewareData }) {
				const { x, y } = middlewareData.arrow ?? {};
				const staticSide = (<const>{
					top: 'bottom',
					right: 'left',
					bottom: 'top',
					left: 'right'
				})[placement.split('-')[0]]!;

				Object.assign(arrowRef.get()?.style ?? {}, {
					left: x != null ? `${x}px` : '',
					top: y != null ? `${y}px` : '',
					[staticSide]: '-4px'
				});
			}
		});

		return {
			ref,
			content,
			arrowRef,
			show: false,
			toggle: () => {
				floating[i].show = !floating[i].show;
			},
			hide: () => {
				setTimeout(() => (floating[i].show = false), 0);
			}
		};
	});
	const floatingArrows = arrayStoreProxy(floating.map(({ arrowRef }) => arrowRef));

	const tooltip1: string | LocalizedString = { cs: 'detail zínu', en: 'zine detail' };

	$: localize = (s: string | LocalizedString): string => (typeof s === 'string' ? s : s[locale]);
</script>

<div class="flex-col topbar ZineWrap">
	{#each Object.entries(LocalizedZines) as [id, zine], i}
		{#if !!zine.collaboration === collaboration}
			{@const summaryParagraphs = zine.summary.split('\n\n').map((p) => p.trim())}
			{@const float = floating[i]}
			{@const floatingRef = floating[i].ref}
			{@const floatingContent = floating[i].content}
			{@const arrowRef = float.arrowRef}

			<div class="ZineItem" id="zine-{id}">
				<div class="ZineSubitem ZineThumbnail">
					<a title={localize(tooltip1)} href="/detail/{id}?hl={locale}">
						<img class="ZineThumbnailimg" src={zine.thumbnail} alt={zine.thumbnailAlt} /></a
					>
				</div>

				<div class="ZineSubitem ZineName">
					<p class="ZineSubName"><a href="/detail/{id}?hl={locale}">{zine.name}</a></p>
					<p class="ZineAuthor">{zine.author}</p>
				</div>

				<div class="ZineSubitem ZinePerex">
					{#each summaryParagraphs as paragraph}
						<p>
							{@html paragraph}
						</p>
					{/each}
				</div>

				<div class="ZineSubitem ZineLinks">
					<p class="ZineIcons" use:floatingRef>
						<button on:click={float.toggle}><Fa icon={faBook} /></button>
					</p>
					{#if float.show}
						<div
							style="position:absolute"
							use:floatingContent
							class="flex-col tooltip plusbutton"
							use:clickOutside
							on:clickOutside={float.hide}
						>
							<p class="cardversion">
								<CopyLink url={urlbase + 'detail/' + id + '?hl=' + locale} />
								<br />
								<br />
								{#each zine.downloads as item}
									<a href={item.link}><Fa icon={faDownload} /> {item.name}</a>
									<br />
								{/each}
							</p>
							<div class="arrow" bind:this={floatingArrows[i]} />
						</div>
					{/if}

					<p>
						{#if cs}
							verze
						{:else}
							version
						{/if}
						{zine.version}
					</p>
				</div>
			</div>
		{/if}
	{/each}
</div>

<style lang="scss">
	.ZinePerex p:first-child:first-letter {
		font-size: 1.8em; /* Adjust the size as desired */
		font-weight: bold; /* Optional: Make it bold */
		line-height: 1; /* Otherwise the first line would be bigger */
	}

	.tooltip {
		background-color: #eee;
		padding: 0.75em;
		// border: 1px solid #777;
		border-radius: 5px;
		box-shadow: 0px 0px 3.3px rgba(0, 0, 0, 0.031), 0px 0px 8.4px rgba(0, 0, 0, 0.044),
			0px 0px 17.2px rgba(0, 0, 0, 0.056), 0px 0px 35.4px rgba(0, 0, 0, 0.069),
			0px 0px 97px rgba(0, 0, 0, 0.1);

		> p {
			z-index: 2;
		}
		> .arrow {
			z-index: 1;
			&::after {
				content: '';
				display: block;
				position: relative;
				width: 20px;
				height: 20px;
				bottom: 50%;
				left: 5px;
				transform: rotate(45deg);
				background-color: #eee;
			}
		}
	}

	.plusbutton {
		color: black;
		font-size: inherit;
	}

	.arrow {
		position: absolute;
	}
</style>
